body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f5f6;
}

/*Estilo de la pantalla pricnipal del juego */
.principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  cursor: default;
}

/*Estilo del boton de inicio y Estilo del boton para agregar palabra en el arreglo*/
.btn-iniciar,
.btn-agregar-palabra {
  position: relative;
  top: 200px;
  width: 300px;
  height: 100px;
  background: #0a3871;
  border-radius: 24px;
  font-size: 24px;
  color: #ffffff;
}

/*Cambiamos el estado del objeto cuando se posiciona el mouse por sobre el*/
.btn-iniciar:hover,
.btn-agregar-palabra:hover,
#guardarPalabra:hover,
#volverJuego:hover,
#nuevoJuego:hover,
#desistir:hover,
#volver:hover {
  background-color: lightblue;
  color: black;
}

.agregarPalabra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ingresoPalabra {
  position: relative;
  top: 260px;
  border-radius: 10px;
  height: 35px;
  width: 350px;
  font-size: 24px;
  text-align: center;
}

#guardarPalabra,
#volverJuego {
  position: relative;
  top: 280px;
  border-radius: 24px;
  height: 100px;
  width: 300px;
  background: #0a3871;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

#nuevoJuego,
#desistir,
#volver {
  position: absolute;
  left: 25px;
  border-radius: 24px;
  height: 80px;
  width: 240px;
  background: #0a3871;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

#horca {
  width: 1024;
  height: 768;
}

#nuevoJuego {
  top: 200px;
}

#desistir {
  top: 290px;
}

#volver {
  top: 380px;
}

#footer {
  position: relative;
  bottom: 150px;
  font-size: medium;
}

/*----------------Diseño Responsivo----------------*/
/*Tablet*/
@media (min-width: 481px) and (max-width: 796px) {

  #guardarPalabra,
  #volverJuego {
    top: 180px;
  }

  #ingresoPalabra {
    top: 160px;
  }

  #footer {
    justify-content: center;
    bottom: 275px;
  }
}

/*Smartphone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .btn-iniciar,
  .btn-agregar-palabra,
  #guardarPalabra,
  #volverJuego,
  #nuevoJuego,
  #desistir,
  #volver {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
  }

  .canvas {
    width: 50%;
    height: 80%;
  }

  .btn-iniciar {
    top: 150px;
  }

  .btn-agregar-palabra {
    top: 166px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  #guardarPalabra,
  #volverJuego {
    top: 220px;
  }

  #ingresoPalabra {
    width: 250px;
    font-size: 20px;
    top: 200px;
  }

  .juego {
    justify-content: center;
    align-items: flex-start;
  }

  #footer {
    justify-content: center;
    bottom: 300px;
  }
}