body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f5f6;
}

/*Estilo de la pantalla pricnipal del juego */
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Estilo del boton de inicio y Estilo del boton para agregar palabra en el arreglo*/
.btn-iniciar,
.btn-agregar-palabra {
  position: relative;
  width: 300px;
  height: 100px;
  background: #0a3871;
  border-radius: 24px;
  font-size: 24px;
  color: #ffffff;
}

.btn-iniciar {
  top: 15rem;
}

.btn-agregar-palabra {
  top: 16rem;
}

/*Cambiamos el estado del objeto cuando se posiciona el mouse por sobre el*/
.btn-iniciar:hover,
.btn-agregar-palabra:hover,
#guardarPalabra:hover,
#volverJuego:hover,
#nuevoJuego:hover,
#desistir:hover,
#volver:hover {
  background-color: lightblue;
  color: black;
}

.canvas {
  width: 1024px;
  height: 768px;
}

.agregarPalabra {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#ingresoPalabra {
  position: absolute;
  bottom: 60%;
  left: 38%;
  border-radius: 10px;
  height: 35px;
  width: 350px;
  font-size: 24px;
  text-align: center;
}

#guardarPalabra,
#volverJuego {
  position: absolute;
  left: 40%;
  border-radius: 24px;
  height: 100px;
  width: 300px;
  background: #0a3871;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

#guardarPalabra {
  bottom: 45%;
}

#volverJuego {
  bottom: 32%;
}

.juego {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#nuevoJuego,
#desistir,
#volver {
  position: absolute;
  left: 25px;
  border-radius: 24px;
  height: 80px;
  width: 240px;
  background: #0a3871;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

#nuevoJuego {
  top: 200px;
}

#desistir {
  top: 300px;
}

#volver {
  top: 400px;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

/*----------------Diseño Responsivo----------------*/
/*Tablet*/
@media (min-width: 481px) and (max-width: 796px) {
}

/*Smartphone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .btn-iniciar,
  .btn-agregar-palabra {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 22px;
  }
  
  #ingresoPalabra {
    border-radius: 10px;
    height: 35px;
    width: 350px;
    font-size: 24px;
    text-align: center;
  }
  
  #guardarPalabra,
  #volverJuego {
    position: absolute;
    border-radius: 10px;
    height: 100px;
    width: 200px;
    font-size: 20px;
  }
  
  #guardarPalabra {
    bottom: 45%;
  }
  
  #volverJuego {
    bottom: 32%;
  }

}
